<!DOCTYPE html>
<html>
<head>
    <title>narrator files</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="container">
        <h1 class="title is-1">👾 narrator files</h1>
        <div class="content">
            <table class="table">
                <tbody>
                    {{range .}}
                    <tr>
                        <td>
                            {{if eq .Type 2}}
                                <a href="/play/{{.Key}}">{{.Name}}</a>
                            {{else if eq .Type 1}}
                                <a href="/{{.Key}}/">{{.Name}}</a>
                            {{else}}
                                <a href="/object/{{.Key}}" target="_blank">{{.Name}}</a>
                            {{end}}
                        </td>                        
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
