<!DOCTYPE html>
<html>
<head>
    <title>narrator files</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="container">
        <h1 class="title is-1">👾 narrator files: playing</h1>
        <div class="content">
            <div class="file-info">
                <p class="file-name">🔊 {{.Key}}</p>
                <a href="{{.URL}}" download>💾</a>
            </div>
            <audio controls>
                <source src="{{.URL}}" type="{{.Mime}}">
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>
</body>
</html>
